---
layout: default
title: About Me!
---

<article class="post">
  <h1 class="post__title">
    About me
  </h1>

  <!-- Content -->
  <div class="post__content">

    <p>I'm Damien Mayance, a french indie game and software developer.</p>

    <p>I am also the co-founder of <a href="http://pixenest.io"></a>Pixelnest Studio</a>, created with <a href="http://solarsailer.net" ></a>Matthieu Oger</a> in 2013.</p>

    <h2>My projects</h2>

    <p>Here is a list of my main completed projects:</p>

    <ul>
      {% for post in site.posts %}
      {% if post.layout == 'release' %}
      <li>
        <a href="{{ post.url }}">{{post.title}}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>

  </div>
</article>
