---
layout: default
title: Portfolio
---

<div class="home">

  <!-- About me -->
  <div class="home__block row">
    <div class="home__block__header">
      <h2>About me</h2>
      <a href="/about">Read more</a>
    </div>
    <div class="home__block__content">
      <p>
        I'm a French indie game and software developer. I'm also the co-founder of <a class="pixelnest-logo" href="http://pixelnest.io">Pixelnest Studio</a> where I created Steredenn and numerous other projects.
      </p>
      <p>
        This is my portfolio — you will find my projects, snippets and resources, as well as my other appearances. Enjoy. :)
      </p>
    </div>
  </div>

  <!-- Projects list -->
  <div class="home__block row">
    <div class="home__block__header">
      <h2>Projects</h2>
    </div>
    <div class="home__block__content">
      {% assign projects = site.projects | sort: 'date' | reverse %}
      {% for post in projects %}

        <article class="home__project">
          <a href="{{ site.url }}{{ post.url }}">

            <div class="home__project__left">
              <img src="{{ post.image }}" alt="{{ post.title }}" />
            </div>
            <div class="home__project__right">
              <p><strong>{{ post.title }}</strong> {{ post.shortdesc }}</p>
            </div>
          </a>
        </article>
      {% endfor %}
    </div>
  </div>

  <!-- Code snippets and tutorials -->
  <div class="home__block row">
    <div class="home__block__header">
      <h2>Code</h2>
    </div>
    <div class="home__block__content">
      <ul>
        {% assign snippets = site.code | sort: 'date' | reverse %}
        {% for p in snippets %}
            <li>
              <p class="tags">
                {% for tag in p.tags %}
                  <span class="tag {{ tag }}">{{ tag }}</span>
                {% endfor %}
              </p>
              <p>
                <a href="{{ site.url }}{{ p.url }}">{{ p.title }}</a>
              </p>
              <p>
                {{ p.excerpt }}
              </p>
            </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <!-- Events -->
  <div class="home__block row">
    <div class="home__block__header">
      <h2>Events</h2>
    </div>
    <div class="home__block__content">
      <ul>
        {% assign events = site.events | sort: 'date' | reverse %}
        {% for event in events %}
        <li>
          <a href="{{ site.url }}{{ event.url }}">{{ event.title }}</a>
          {{ event.excerpt }}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

</div>
