---
layout: default
title: Portfolio
---

<div class="home">

  <!-- About me -->
  <div class="block">
    <div class="block-header">
      <h2>About me</h2>
      <a href="/about">Read more</a>
    </div>
    <div class="block-content">
      <p>
        I'm a French indie game and software developer. Currently lead Unity developer at <a href="https://lonestone.consulting/">Lone Stone</a>. 
      </p>
      <p>
        I co-founded <a class="pixelnest-logo" href="https://pixelnest.io">Pixelnest Studio</a> where I created Steredenn and numerous other projects.
      </p>
      <p>
        This is my portfolio — you will find my projects, snippets and resources, as well as my other appearances. Enjoy. :)
      </p>
    </div>
  </div>

  <!-- Projects list -->
  <div class="block">
    <div class="block-header">
      <h2>Main work</h2>
      <a href="/projects">See all</a>
    </div>
    <div class="block-content">
      {% assign projects = site.projects | sort: 'date' | reverse %}
      {% for post in projects %}

        <article class="project">

          {% if post.direct %}
          <a href="{{ post.direct }}">
          {% else %}
          <a href="{{ site.url }}{{ post.url }}">
          {% endif %}

            <div class="project-left">
              <img src="{{ site.url }}/{{ post.image }}" alt="{{ post.title }}" />
            </div>
            <div class="project-right">
              <p><strong>{{ post.title }}</strong> {{ post.shortdesc }}</p>
            </div>
          </a>
        </article>
      {% endfor %}
    </div>
  </div>

  <!-- Code snippets and tutorials -->
  <div class="block">
    <div class="block-header">
      <h2>Code</h2>
      <a href="/code">See All</a>
    </div>
    <div class="block-content">
      {% assign snippets = site.code | sort: 'date' | reverse %}
      {% for p in snippets limit:15  %}
          <div class="element">
            <a href="{{ site.url }}{{ p.url }}">
              <ul class="tags">
                {% for tag in p.tags %}
                <li class="tag {{ tag }}">{{ tag }}</li>
                {% endfor %}
              </ul>
              <p class="element-title">
                {{ p.title }}
              </p>
              <p class="element-desc">
                {{ p.shortdesc }}
              </p>
            </a>
          </div>
      {% endfor %}
    </div>
  </div>
</div>
