---
layout: default
title: Damien Mayance (Valryon)
---

{% for post in paginator.posts %}

<div class="row-fluid">
	<article class="post">
	  	<h1><a class="post-title " href="{{site.url}}{{ post.url }}">{{ post.title }}</a></h1>
		<p class="post-date muted">{{ post.date | date: "%d %B %Y" }}</p>

		<div class="post-content">
			{{ post.content  }}
		</div>
	
	</article>
	<hr />
</div>

{% endfor %}

<div class="row-fluid pagination">
	<ul>
	  	{% if paginator.previous_page %}
	  		{% if paginator.previous_page == 1 %}
	    		<li><span><a href="{{site.url}}/">«</a></span></li>
		    {% else %}
			    <li><span><a href="/page{{paginator.previous_page}}">«</a></span></li>
	    	{% endif %}
	  	{% endif %}
	  	
	  	<li><span class="disabled" ">{{paginator.page}} of {{paginator.total_pages}}</span></li>
	  	
	  	{% if paginator.next_page %}
	    	<li><a href="/page{{paginator.next_page}}">»</a></li>
	  	{% endif %}
	  	
  	</ul>
</div>
