<header class="page-header">
    <div class="banner-left">
      <a class="banner-a" href="{{site.url}}/">
        <h1 class="banner-name">Damien Mayance</h1>
      </a>

      <ul class="banner-links">
        <li class="banner-link twitter">
          <a href="https://twitter.com/Valryon">Twitter</a>
        </li>
        <li class="banner-link github">
          <a href="https://github.com/Valryon">Github</a>
        </li>
        <li class="banner-link linkedin">
          <a href="https://fr.linkedin.com/in/damienmayance">LinkedIn</a>
        </li>          
        <li class="banner-link mastodon">
          <a href="https://mastodon.social/@valryon">Mastodon</a>
        </li>
      </ul>
    </div>

    <div class="banner-right">
      <div class="banner-avatar">
        <a href="/">
          <img
            src="https://www.gravatar.com/avatar/545f7c7f0ed11d6ef21722a7e6c47acf?s=300"
            title="Damien Mayance"
            alt="Damien Mayance" />
        </a>
      </div>
    </div>
</header>
