<header class="page-header">
  <section class="banner">
    <h1 class="banner__name">
      <a href="{{site.url}}/">Damien Mayance</a>
    </h1>

    <div class="banner__avatar">
      <img
        src="http://www.gravatar.com/avatar/545f7c7f0ed11d6ef21722a7e6c47acf?s=300"
        title="Damien Mayance"
        alt="Damien Mayance" />
    </div>
    <ul class="banner__links">
      <li class="banner__links twitter">
        <a href="http://twitter.com/Valryon">TWITTER</a>
      </li>
      <li class="banner__links github">
        <a href="http://github.com/Valryon">GITHUB</a>
      </li>
      <li class="banner__links linkedin">
        <a href="https://fr.linkedin.com/in/damienmayance">LINKEDIN</a>
      </li>
      <li class="banner__links pixelnest">
        <a href="https://fr.linkedin.com/in/damienmayance">PIXELNEST</a>
      </li>
    </ul>
  </section>
</header>
