<!-- meta -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- open graph -->
<meta property="og:locale" content="en" />
<meta property="og:description" content="{{ page.title }} - Damien Mayance">

{% if page.image %}
<meta property="og:image" content="{{ site.url }}/{{ page.image }}">
<meta property="og:image:height" content="500">
<meta property="og:image:width" content="200">
{% else %}
<meta property="og:image" content="http://www.gravatar.com/avatar/545f7c7f0ed11d6ef21722a7e6c47acf?s=600">
<meta property="og:image:height" content="600">
<meta property="og:image:width" content="600">
{% endif %}
<meta property="og:image:type" content="image/png">
<meta property="og:site_name" content="Damien Mayance">
<meta property="og:title" content="{{ page.title }} - Damien Mayance (Valryon)">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">

<!-- twitter -->
<meta name="twitter:card" content="photo">
{% if page.image %}
<meta name="twitter:image:src" content="{{ site.url }}/{{ page.image }}">
{% else %}
<meta name="twitter:image:src" content="http://www.gravatar.com/avatar/545f7c7f0ed11d6ef21722a7e6c47acf?s=600">
{% endif %}
<meta name="twitter:site" content="http://dmayance.com">
<meta name="twitter:title" content="{{ page.title }} - Damien Mayance (Valryon)">
<meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
<meta name="twitter:creator" content="@Valryon">

<meta property="robots" content="index,follow" />

<!-- misc -->
<!--<link href="{{site.url}}/atom.xml" rel="alternate" title="Damien Mayance (Valryon)" type="application/atom+xml" />-->
<link href="http://feedpress.me/dmayance" rel="alternate" title="Damien Mayance (Valryon)" type="application/atom+xml" />
<link rel="shortcut icon" href="{{site.baseurl}}/static/images/favicon.ico" />
