/*
 * Damien Mayance
 * Url: https://dmayance.com/
 */

/**************************************************************
 * Global
 **************************************************************/

html {
  font-family: 'PT Sans', sans-serif;
  font-weight: 200;
  color: #444444;
}

html, body {
  height: 100%;
}

h1,h2,h3,h3 {
  font-weight: normal;
  font-family: Hack, monospace;
}

a {
  text-decoration: none;
  color: #4198E6;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

a:hover {
  text-decoration: underline;
}

strong {
  font-weight: bold;
}

/**************************************************************
 * Page (container)
 **************************************************************/

.page {
   max-width: 650px;

   padding: 0 20px;
   margin-left: auto;
   margin-right: auto;

   position: relative;
   min-height: 100%;
}

.page::after {
  display: block;
  content: "";
  padding-bottom: 100px;
}

/**************************************************************
 * Banner
 **************************************************************/

.page-header {
  display: table;
  padding: 12px 0px 12px 0px;
  width: 100%;
  margin-bottom: 50px;
}

/* Name and links */

.banner-left {
  display: table-cell;
  width: auto;
  vertical-align: top;
}

.banner-a {
  text-decoration: none;
  color: #797979;
}

.banner-a:hover {
  text-decoration: none;
}

.banner-a:visited {
  text-decoration: none;
  color: #797979;
}

.banner-name {
  font-size: 42px;
  font-weight: 100;
  text-transform: uppercase;
  margin: 15px auto 4px;
}

/* Avatar */

.banner-right {
  display: table-cell;
  width: 120px;
  vertical-align: top;
  text-align: right;
}

.banner-avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.banner-avatar a {
  display: block;
}

.banner-avatar a img {
  -webkit-transition: -webkit-transform 0.15s ease-out;
  transition: -webkit-transform 0.15s ease-out;
  transition: transform 0.15s ease-out;
  transition: transform 0.15s ease-out, -webkit-transform 0.15s ease-out;
}

.banner-avatar a:hover img {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

/* Links */

.banner-links {
  display: inline;
  padding-left: 0;
}

.banner-link {
  display: inline-block;
  list-style-type: none;
  text-transform: uppercase;
  width: 125px;
}

.banner-link a {
  display: inline-block;
  height: 20px;
  padding-top: 1px;
  padding-left: 24px;
  background-repeat: no-repeat;
  background-size: 18px 18px;
}

.twitter a {
  background-image: url(../images/icon-twitter@2x.png);
}

.github a {
 background-image: url(../images/icon-github@2x.png);
}

.linkedin a {
 background-image: url(../images/icon-linkedin@2x.png);
}

/* On mobile display links vertically */
/* And reduce name size */

@media(max-width: 550px) {
  .banner-name {
    font-size: 30px;
  }
  .banner-link {
    display: block;
  }
  .banner-link a {
    display: list-item;;
  }
}

/**************************************************************
 * Titles
 **************************************************************/

.block-header {
  margin-top: 42px;
  border-bottom: 1px dotted #000;
  margin-bottom: 21px;
  display: table;
  width: 100%;
  padding-bottom: 6px;
}

.block-header h2 {
  display: table-cell;
  text-transform: uppercase;
  color: #8C8C8C;
  font-size: 14px;
  font-weight: 100;
}

.block-header a {
  display: table-cell;
  width: 100px;
  margin: 0px auto 0px auto;
  text-transform: uppercase;
  text-align: right;
  font-size: 14px;
  color: #F9644B;
}

/**************************************************************
* Projects
**************************************************************/

.project {
  margin-bottom: 24px;
  display: table;
}

.project-left {
  display: table-cell;
  width: 33%;
  vertical-align: top;
}

.project-left img {
  width: 250px;
  height: 100px;
}

.project-right {
  display: table-cell;
  width: 66%;
  vertical-align: middle;;
  padding-left: 12px;
  padding-right: 6px;
  padding-bottom: 16px;

  line-height: 1.5em;
}

.project-right p {
  margin: 0px;
}

.project strong {
  font-weight: bold;
  font-size: 1.1em;
}

.project a {
  display: block;
  text-decoration: none;
  color: #444444;

  -webkit-transition: -webkit-transform 0.15s ease-out;
  transition: -webkit-transform 0.15s ease-out;
  transition: transform 0.15s ease-out;
  transition: transform 0.15s ease-out, -webkit-transform 0.15s ease-out;
}

.project a:hover {
  text-decoration: none;
  color: #4198E6;
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

.project a:focus {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.project a:visited {
  text-decoration: none;
}

/* Hide text on mobile */
@media(max-width: 550px) {
  .project {
    display: block;
  }
  .project-left {
    display: block;
    width: 100%;
  }
  .project-left img {
    margin: 0 auto;
    width: 100%;
    height: auto;
  }
  .project-right {
    display: none;
  }
}

/**************************************************************
* Code & events
**************************************************************/

.element {
  margin-bottom: 24px;
}

.element a {
  display: block;
  text-decoration: none;
  color:#444444;
}

.element a:visited {
  text-decoration: none;
}

.element-title {
  display: inline;
  text-transform: uppercase;
  color: #1686DB;
  font-weight: bold;
  margin-bottom: 0px;
}

.element-desc {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
}

.element a .element-title,
.element a .element-desc {
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.element a:hover .element-title,
.element a:hover .element-desc {
  text-decoration: none;
  color: #35C1F1;
}

/**************************************************************
* Tags
**************************************************************/

.tags {
  margin: 0px;
  padding-left: 0;
  display: inline;
}

.tag {
  display: inline-block;
  padding: 4px 4px 2px 4px;

  vertical-align: top;

  font-size: 10px;
  text-transform: uppercase;
  text-align: center;

  border-radius: 4px;

  color: #FFFFFF;
  background-color: #969696;
}

.unity {
  background-color: #FF0066;
}

.pico-8 {
  background-color: #2D5EFF;
}

.game {
  background-color: #0087FF;
}

.pixelnest {
  background-color: #FF4600;
}

.prototype {
  background-color: #7ACC1C;
}

.plugin {
  background-color: #778D99;
}

.app {
  background-color: #99183C;
}

/**************************************************************
 * Posts and special pages
 **************************************************************/

.post-header {
  margin-top: 21px;
  margin-bottom: 42px;
  text-align: center;
}

.post-date {
  text-transform: uppercase;
  text-align: center;
  font-style: italic;
  font-size: 14px;
  color: #F9644B;

  margin-top: 0px
}

.post h1 {
  text-transform: uppercase;
  text-align: center;
  color: #8C8C8C;
  font-size: 24px;
  font-weight: bold;;

  margin-bottom: 6px;
}

.post h1:first-child {
  border-top: 1px solid #E8E8E8;
  padding-top: 30px;
  margin-top: 0px;
}

.post h2 {
  color: #8C8C8C;
  font-size: 20px;
  font-weight: 250;

  margin-top: 42px;
  margin-bottom: 21px;

  border-bottom: 1px dotted #000;
}

.post h3 {
  text-align: left;
  color: #8C8C8C;
  font-size: 17px;
  font-weight: 250;

  margin-top: 42px;
  margin-bottom: 21px;
}

.post img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.post iframe {
  display: block;
  max-width: 100%;
  margin: 0 auto 1.6rem;
}

p code, li code {
  padding: 1px 3px;
  background: #8C8C8C;
  color: #C25;
  font-size: 0.85rem;
  border-radius: 3px;
  border-color: #D14;
  background-color: #F7F7F9;
}

.highlight {
  padding: 12px;
  background: #282C34;
  border-radius: 2px;
  font-size: 0.85rem;
  line-height: 1.3;
  white-space: pre-wrap;
}

.gist {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.back {
  text-align: center;
  margin-top: 50px;
}

.back a {
  background: #F9644B;
  color: #FFFFFF;

  padding: 8px 20px;
  border-radius: 5px;
  font-size: 13px;
  margin: 0 auto;

  text-transform: uppercase;
  text-align: right;
}

/**************************************************************
 * Footer
 **************************************************************/
.page-footer {

  /* Page's bottom */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  height: 50px;
  box-sizing: border-box;

  /* Text style */
  font-size: 12px;
  font-weight: 100;
  font-family: Hack, monospace;
  color: #BBBBBB;
}

.page-footer p {
  text-align: center;
}


/**************************************************************
 * Misc
 **************************************************************/

.pixelnest-logo {
 background-image: url(../images/icon-pixelnest@2x.png);
 display: inline-block;
 padding-left: 22px;
 background-repeat: no-repeat;
 background-size: 18px 18px;
}
