/*
 * Damien Mayance
 * Url: http://dmayance.com/
 */

/**************************************************************
 * Global
 **************************************************************/

html {
  font-weight: normal;
  font-family: Hack, monospace;
  font-size: 16px;
}

p {
  font-family: 'PT Sans', sans-serif;
  font-weight: 200;
  color: #444444;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/**************************************************************
 * Page (container)
 **************************************************************/

.page {
   max-width: 650px;
   padding: 0 20px;
   margin-left: auto;
   margin-right: auto;
}

/**************************************************************
 * Banner
 **************************************************************/

.page-header {
  display: table;
  margin: 42px auto 42px auto;
}

.banner__column__left {
  display: table-cell;
  vertical-align: middle;
}

.banner__column__right {
  display: table-cell;
  width: 120px;
  vertical-align: middle;
  text-align: center;
}

.banner__a {
 color: #797979;
}

.banner__name {
  font-size: 42px;
  font-weight: 100;
  text-transform: uppercase;
  margin: 15px auto 15px;
}

.banner__avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.banner__links {
  display: inline;
  padding-left: 0;
}

.banner__links__link {
  display: inline-block;
  text-transform: uppercase;
}

.banner__links__link a {
  display: inline-block;
  height: 20px;
  width: 80px;
  padding-top: 1px;
  padding-left: 24px;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  color: #4198E6;
}

.twitter a {
  background-image: url(../images/icon-twitter@2x.png);
}

.github a {
 background-image: url(../images/icon-github@2x.png);
}

.linkedin a {
 background-image: url(../images/icon-linkedin@2x.png);
}

.pixelnest a {
 background-image: url(../images/icon-pixelnest@2x.png);
}

/**************************************************************
 * Titles
 **************************************************************/

.home__block__header {
  margin-top: 21px;
  border-bottom: 1px dotted #000;
  margin-bottom: 21px;
  display: table;
  width: 100%;
  padding-bottom: 6px;
}

.home__block__header h2 {
  display: table-cell;
  text-transform: uppercase;
  color: #8C8C8C;
  font-size: 11px;
  font-weight: 100;
}

.home__block__header a {
  display: table-cell;
  width: 100px;
  margin: 0px auto 0px auto;
  text-transform: uppercase;
  text-align: right;
  font-style: italic;
  font-size: 13px;
  color: #F9644B;
}
