/*
 * Damien Mayance
 * Url: http://dmayance.com/
 */

/**************************************************************
 * Global
 **************************************************************/

body {
	max-width: 1200px;
	background-color: #F1F1F1;
	font-size: 100%;
	font-family: Georgia, serif;
}

h1 {
	margin: 0;
}

/**************************************************************
 * Identity
 **************************************************************/

.info {
	position: fixed;
	width: 250px;
	height: 100%;

	/* Image + color */
	background: url("../images/info-shadow@2x.png") repeat-y 0 0 #4C6E92;

	/* Retina, resize to half size */
	background-size: 250px 1px;
}

/* Title */

.info__title {
	margin: 0;
	padding: 30px 20px 10px 20px;

	font-size: 2.4em;
	font-weight: normal;
	text-align: center;
}

.info__title
	a {
	color: white;
	text-decoration: none;

	/* Half black, 2px bottom & 4px blur */
	text-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px;
}

/* Desc */

.info__desc {
	padding: 0 20px;

	color: white;
	font-size: 0.9em;
	font-weight: 100;
	text-align: center;
}

.info__desc
	a {
	color: white;
}

.info__desc a:hover { color: #b5bfc5; }

/* Links */

.info__links {
	padding: 0 34px;
	list-style: none;
}

.info__link {
	font-size: 1.2em;
	font-weight: normal;
}

.info__link a {
	display: inline-block;
	height: 30px;
	padding-top: 8px;
	padding-left: 45px;

	background-repeat: no-repeat;
	background-size: 36px 36px;

	color: white;
	text-decoration: none;
}

.info__link a:hover { text-decoration: underline; }
.info__link a:focus { text-decoration: underline; }
.info__link a:active { text-decoration: underline; }

.info__link.about  	 a { background-image: url("../images/icon-about@2x.png"); }
.info__link.twitter  a { background-image: url("../images/icon-twitter@2x.png"); }
.info__link.github   a { background-image: url("../images/icon-github@2x.png"); }
.info__link.linkedin a { background-image: url("../images/icon-linkedin@2x.png"); }
.info__link.careers  a { background-image: url("../images/icon-careers@2x.png"); }
.info__link.work  a { background-image: url("../images/icon-work@2x.png"); }

/* Avatar */

.info__avatar {
	width: 100%;
	text-align: center;
}

.info__avatar img {
	width: 150px;
	height: 150px;
}

/* Separator */

.info__separator {
	width: 200px;
	height: 8px;
	margin-top: 20px;
	background: url("../images/info-separator@2x.png") no-repeat;
	background-size: 200px 8px;
	border: none;
}

/**************************************************************
 * Content
 **************************************************************/

.content {
	margin-left: 250px;
	padding: 30px;
	color: #505050;
}

.content
 	h1 {
	margin: 0;
	color: #505050;
	font-size: 2.8em;
	font-weight: normal;
}

.content
	h2 {
	margin-top: 40px;
	border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.content
	h3 {
	margin-top: 30px;
	margin-bottom: 0px;
}

/**************************************************************
 * Post
 **************************************************************/

.post__title
	a {
	color: #505050;
	text-decoration: none;
}

.post__date {
	position: relative;
	top: -18px;

	margin: 19px 0 0 0;
	color: #969696;
	font-size: 1.2em;
}

.post__content {
	margin-top: 30px;
}

.post__content p {
	margin: 16px 0;
	font-size: 1.1em;
	line-height: 1.4em;
}

.post__content a {
	color: #4878af;

	/* Transition on color */
	-webkit-transition: color 0.4s;
	-moz-transition: color 0.4s;
	-o-transition: color 0.4s;
	transition: color 0.4s;
}

.post__content a:hover 	       { color: #5c9eed;}
.post__content a:visited       { color: #7977c7; }
.post__content a:hover:visited { color: #9593f5; }
.post__content a:focus   			 { color: #5c9eed;}
.post__content a:active  			 { color: #5c9eed;}

.post__content
	img {
	display: block;
	max-width: 100%;
	margin: 30px auto;
}

.post__content
	code {
	background-color: white;
	font-size: 0.9em;
}

.post__content
	.gist {
	font-size: 90%;
}

.post__content
	.gist
		p {
	font-size: 1em;
}

.post__video {
	display: block;
	margin: 0 auto;
}

.post__separator {
	margin: 30px 80px;
	border: 1px solid rgba(200, 200, 200, 0.5);
	box-shadow: rgba(255, 255, 255, 0.3) 0 2px 2px;
}

/**************************************************************
 * Pagination
 **************************************************************/

.pagination {
	padding-bottom: 20px;
	font-size: 1.4em;
	text-align: center;
}

.pagination a {
	color: #4878af;
	text-decoration: none;

	/* Transition on color */
	-webkit-transition: color 0.4s;
	-moz-transition: color 0.4s;
	-o-transition: color 0.4s;
	transition: color 0.4s;
}

.pagination a:hover { color: #5c9eed; }

.pagination__previous {
	margin-right: 20px;
}

.pagination__next {
	margin-left: 20px;
}

/**************************************************************
 * Footer
 **************************************************************/

.page-footer {
	margin-left: 250px;
	padding: 0 30px 30px 30px;
}

/* Paragraphs */

.page-footer
	p {
	margin: 5px 0 0 0;
	color: #949494;
	font-style: italic;
}

/* Hyperlinks */

.page-footer a {
	color: #4878af;

	/* Transition on color */
	-webkit-transition: color 0.4s;
	-moz-transition: color 0.4s;
	-o-transition: color 0.4s;
	transition: color 0.4s;
}

.page-footer a:hover 	       { color: #5c9eed;}
.page-footer a:visited       { color: #7977c7; }
.page-footer a:hover:visited { color: #9593f5; }
.page-footer a:focus   			 { color: #5c9eed;}
.page-footer a:active  			 { color: #5c9eed;}

/**************************************************************
 * Footer
 **************************************************************/

.border-decoration,
.post__content img {
	border: 4px solid white;
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px;
}

/**************************************************************
 * Mobile
 **************************************************************/

/* Medium */
@media only screen and (max-width: 840px)  {

	/* Infos */

	.info {
		position: static;
		width: auto;
		background: none;
	}

	.info__title a {
		padding-bottom: 4px;
		border-bottom: 1px solid #505050;
		color: #505050;
		text-shadow: none;
		line-height: 1.4em;
	}

	.info__avatar img,
	.info__desc,
	.info__separator {
		display: none;
	}

	.info__links {
		position: relative;
		top: -14px;
		text-align: center;
	}

	.info__link {
		display: inline;
	}

	.info__link a {
		display: inline;
		margin: 10px;
		padding: 0;
		background: none !important;
		line-height: 1.4em;
	}

	.info__link a {
		color: #4878af;

		/* Transition on color */
		-webkit-transition: color 0.4s;
		-moz-transition: color 0.4s;
		-o-transition: color 0.4s;
		transition: color 0.4s;
	}

	.info__link a:hover 	       { color: #5c9eed;}
	.info__link a:focus   			 { color: #5c9eed;}
	.info__link a:active  			 { color: #5c9eed;}

	/* Content */

	.content {
		margin: 0;
	}
	
	.post__video {
		width: 380px;
		height: 300px;
	}

	/* Footer */

	.page-footer {
		margin: 0;
	}
}

/* Small */
@media only screen and (max-width: 550px) {

	/* Infos */

	.info__title {
		font-size: 2em;
	}

	/* Content */

	.content {
		padding: 20px;
	}

	.content
		h1 {
		font-size: 2.2em;
	}
	
	.post__video {
		width: 190px;
		height: 180px;
	}
	
	.page-footer {
		padding: 0 20px 20px 20px;
	}

	/* Pagination */

	.pagination__desc {
		display: block;
		padding: 10px;
	}
}
