<li><a href="http://twitter.com/Valryon"><i class="icon icon-user"></i>&nbsp;@@Valryon</a></li>
<li><a href="http://github.com/Valryon"><i class="icon icon-wrench"></i>&nbsp;GitHub</a></li>
<li><a href="http://linkedin.com/in/damienmayance"><i class="icon icon-user"></i>&nbsp;LinkedIn</a></li>
<li><a href="http://careers.stackoverflow.com/dmayance "><i class="icon icon-user"></i>&nbsp;Careers 2.0</a></li>
<li><a href="@Url.Action("Feed", "Blog")"><i class="icon icon-globe"></i>&nbsp;Feed</a></li>
