<p>
    Hi, I am a young <strong>indie</strong> game and software developper, currently
    <strong>creating my company</strong> with Matthieu Oger and working on two game projects.
</p>
<p>
    Meet me in <strong>Rennes</strong>, France, or contact me using the following
    links.
</p>