body {
    padding-top: 20px;
}

/* Justify everything */
p {
    text-align: justify;
}

.avatar
{
    margin-bottom:20px;
}

/* Auto adjust images*/
img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    max-height: 50%;
}

article 
{
    margin-bottom: 30px;
}

.article-home
{
    margin-bottom: 60px;
}

/* Hero-unit for mobile header */
.hero-unit-mobile {
  padding-left:20px;
  padding-right:20px;
  padding-bottom:10px;
  padding-top:10px;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.hero-unit-mobile h1 {
  margin-bottom: 0;
  font-size: 24px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}

.hero-unit-mobile h2 {
  font-size: 20px;
}

