@model Portfolio.ViewModels.ErrorViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ok, now it's broken.</h2>
<div class="row-fluid">
    <p>
        I should be working on it.
    </p>
    <p class="lead">
        <a href="@Url.Action("Index","Blog")">Get back home.</a>
    </p>
</div>
