body {
    padding-top: 20px;
}

/* Justify everything */
p {
    text-align: justify;
}

.avatar
{
    margin-bottom:20px;
}

/* Auto align images*/
img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
