@model Portfolio.ViewModels.BlogViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero-unit">
    <h2>Index</h2>
    <p>
        Portfolio
    </p>
</div>
<div>
    @if (Model.Articles != null)
    {
        foreach (Portfolio.Models.Article article in Model.Articles)
        {
        <a href="@article.Url" >
            <p>@article.Title</p>
        </a>
        }
    }
</div>
<div>
    <h2>Catégories</h2>

    @if (Model.Categories != null)
    {
        <ul>
            @foreach (string cat in Model.Categories)
            {
                <li>
                    <a href="@Url.Action("Search", "Blog", new { request = cat })" >
                        @cat
                    </a>
                </li>
            }
        </ul>
    }
</div>
