@model Portfolio.ViewModels.SearchViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model.Title = Model.Search;

    if (Model.IsCategory == false)
    {
        Model.Metas["robots"] = "noindex,follow";
    }
}
<div class="hero-unit">
    @if (Model.Results.Count == 0)
    {
        <h1>
            Ohhhhhhh
        </h1>
        <p>
            Searching "@Model.Search" returned nothing... :(</p>
        <p>
            But here's a <a href="http://placekitten.com/">kitty</a>.
        </p>
        <p>
            @{
        Random rand = new Random(DateTime.Now.Millisecond);

        int x = rand.Next(150, 800);
        int y = rand.Next(150, 800);
            }
            <img src="http://placekitten.com/@x/@y" />
        </p>
    }
    else
    {
        <h1>
            Look what I found!
        </h1>
    
        <p>
            You were looking for "@Model.Search".
        </p>
   
        if (Model.Results.Count == 1)
        {
        <p>
            And there is... <span class="label label-info">One result</span>
        </p>
        }
        else
        {
        <p>
            And there are... <span class="badge badge-info">@Model.Results.Count results</span>
        </p>
        }
    }
</div>
@if (Model.Results.Count > 0)
{
    <ul class="nav">
        @foreach (Portfolio.ViewModels.ArticleViewModel articleModel in Model.Results)
        {
            <li class="small">
                @Html.Partial("ArticleView", articleModel)
            </li>
        }
    </ul>

}