---
layout: default
title: My work, projects and prototypes
---

{% for post in site.posts %}
  {% if post.tags contains 'project' %}

    <h2><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
    <p>{{ post.excerpt }}</p>

  {% endif %}
{% endfor %}


<!-- Click on the images to see a video or more information about a project or a prototype.

Code source for those project mostly hosted [on my GitHub](https://github.com/Valryon).

# Projects

## The Great Paper Adventure

[![The Great Paper Adventure](http://dmayance.com/static/content/posts/tgpa/screen2.png)](http://thegreatpaperadventure.com)

The Great Paper Adventure is a funny papered 2D shoot-them-up made with XNA. It was released on PC during Decembre 2012 and on Xbox during June 2011.

_C#, XNA, PC and Xbox 360_

## Culturez-Vous

[![Culturez-Vous](http://uppix.net/d/5/8/1e19cf19e36ce6e336426044d758f.png)](http://dmayance.com/culturez-vous/)

Culturez-Vous ! was an application for Windows Phone 7, that was providing one old or unused french word everyday.

_C#, Windows Phone 7_

## Monique : Passion Hôtesse de Caisse

[![Monique : Passion Hôtesse de Caisse](http://uppix.net/7/f/4/f424a3a462fbe6532dd2192859da9.png)](http://dmayance.com/monique-passion-hotesse-de-caisse/)

Cashier job **game parody**, made for the “worst game ever” contest.

_C#, XNA, PC_

## Rabbit Apocalypse!

[![Rabbit Apocalypse!](http://dmayance.com/static/content/posts/ra/screen1.png)](http://dmayance.com/rabbit-apocalypse/)

Rabbit Apocalypse! is a short and simple 2D platformer with random level creation.

_C#, XNA, PC_

# One game a month

## The Killing Coconut

January 2014
Theme: Respawn

[![The Killing Coconut](http://dmayance.com/work/1gam-respawn/game2.png)](http://dmayance.com/the-killing-coconut-1gam/)

# Prototypes

## Pon!

[ ![Panel de Pon](http://farm6.staticflickr.com/5327/10052007123_bd4c450943.jpg)](http://www.youtube.com/watch?v=xhm9xO3AoJg)

"Panel de pon" clone, on iPad using Monogame.

_C#, Monogame, PC and iOS_

## Georges, Unity version

[![George Unity](http://farm4.staticflickr.com/3821/10051874756_0986eac3f5.jpg)](http://www.youtube.com/watch?v=5lZwFA7BFdE)

A Unity prototype for [George: Le Pirate](http://pixelnest.io/work/george/).

The 3D Terrain is terraformed at runtime when George dig.

_C#, Unity_

## Bunny Splash

[![Bunny Splash](http://farm3.staticflickr.com/2807/10051902416_f2564d111f_o.png)](http://www.youtube.com/watch?v=hSC3NvLWDes)

A Unity prototype based on Bump'n'Jump re-using some assets from an older project.

The purpose was to try some local multiplayer concept (= 4 players on the same screens having fun).

_C#, Unity_ -->


