@model Portfolio.ViewModels.SearchViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model.Title = "Searching... " + Model.SearchTitle;
}

<h2>@Model.SearchTitle</h2>

@if (Model.Results.Count > 0)
{
    <ul>
        @foreach (Portfolio.ViewModels.ArticleViewModel articleModel in Model.Results)
        {
            <li>
                <h3><a href="@articleModel.Article.Url">@articleModel.Article.Title</a></h3>
                <p>
                    @articleModel.Article.Description
                </p>
            </li>
        }

    </ul>

}
else
{
    <p>No results, sorry!</p>   
}

